In [2]:
import pandas as pd
df = pd.read_csv("weather_data.csv")
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [3]:
df.shape

(6, 4)

In [4]:
df.head()

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain

In [5]:
df.tail()

        day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [7]:
df[1:3] # Row Wise Slicing

        day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow

In [8]:
df.columns

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

In [9]:
df['day'] # or df.day

0    1/1/2017
1    1/2/2017
2    1/3/2017
3    1/4/2017
4    1/5/2017
5    1/6/2017
Name: day, dtype: object

In [10]:
type(df['day'])

pandas.core.series.Series

In [11]:
df[['day','temperature']]

        day  temperature
0  1/1/2017           32
1  1/2/2017           35
2  1/3/2017           28
3  1/4/2017           24
4  1/5/2017           32
5  1/6/2017           31

In [12]:
df['temperature'].max()

35

In [13]:
df[df['temperature']>32]

        day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny

In [14]:
df['day'][df['temperature'] == df['temperature'].max()] # Kinda doing SQL in pandas

1    1/2/2017
Name: day, dtype: object

In [15]:
df[df['temperature'] == df['temperature'].max()] # Kinda doing SQL in pandas

        day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny

In [16]:
df['temperature'].std()

3.8297084310253524

In [17]:
df['event'].max() # But mean() won't work since data type is string

'Sunny'

In [18]:
df.describe()

       temperature  windspeed
count     6.000000   6.000000
mean     30.333333   4.666667
std       3.829708   2.338090
min      24.000000   2.000000
25%      28.750000   2.500000
50%      31.500000   5.000000
75%      32.000000   6.750000
max      35.000000   7.000000

In [31]:
df.set_index('day')

          temperature  windspeed  event
day
1/1/2017           32          6   Rain
1/2/2017           35          7  Sunny
1/3/2017           28          2   Snow
1/4/2017           24          7   Snow
1/5/2017           32          4   Rain
1/6/2017           31          2  Sunny

In [33]:
df.reset_index(inplace=True)
df.set_index('day', inplace=True)

In [34]:
df

          index  temperature  windspeed  event
day
1/1/2017      0           32          6   Rain
1/2/2017      1           35          7  Sunny
1/3/2017      2           28          2   Snow
1/4/2017      3           24          7   Snow
1/5/2017      4           32          4   Rain
1/6/2017      5           31          2  Sunny

In [35]:
df.index

Index(['1/1/2017', '1/2/2017', '1/3/2017', '1/4/2017', '1/5/2017', '1/6/2017'], dtype='object', name='day')

In [36]:
df.loc['1/2/2017']

index              1
temperature       35
windspeed          7
event          Sunny
Name: 1/2/2017, dtype: object

In [37]:
df.reset_index(inplace=True)
df.head()

        day  index  temperature  windspeed  event
0  1/1/2017      0           32          6   Rain
1  1/2/2017      1           35          7  Sunny
2  1/3/2017      2           28          2   Snow
3  1/4/2017      3           24          7   Snow
4  1/5/2017      4           32          4   Rain

In [38]:
df.set_index('event',inplace=True) # this is kind of building a hash map using event as a key
df

            day  index  temperature  windspeed
event
Rain   1/1/2017      0           32          6
Sunny  1/2/2017      1           35          7
Snow   1/3/2017      2           28          2
Snow   1/4/2017      3           24          7
Rain   1/5/2017      4           32          4
Sunny  1/6/2017      5           31          2

In [39]:
df.loc['Snow']

            day  index  temperature  windspeed
event
Snow   1/3/2017      2           28          2
Snow   1/4/2017      3           24          7