In [1]:
import numpy as np

In [2]:
python_list = [i for i in range(100)]
python_list[:5]

[0, 1, 2, 3, 4]

In [3]:
# Size of the python list
import sys
sys.getsizeof(python_list[0]) * len(python_list)

2800

In [4]:
np_array = np.arange(100)
np_array[:5]

array([0, 1, 2, 3, 4])

In [5]:
np_array.nbytes

400

In [7]:
l1 = list(range(10000))
l2 = list(range(10000))
tuple(zip(l1,l2))[:5]

((0, 0), (1, 1), (2, 2), (3, 3), (4, 4))

In [8]:
import time

SIZE = 1000000

l1 = list(range(SIZE))
l2 = list(range(SIZE))

start_time = time.time()
l3 = [x+y for x, y in zip(l1, l2)]
end_time = time.time()
print("Python list took: ", end_time-start_time)

Python list took:  0.2082357406616211

In [10]:
n1 = np.arange(SIZE)
n2 = np.arange(SIZE)
start_time = time.time()
n3 = n1 + n2
end_time = time.time()
print("Numpy array took: ", end_time-start_time)

Numpy array took:  0.003002166748046875

In [11]:
l1 = list(range(5))
l2 = list(range(5))

In [12]:
l1 + l2 ## Result in concatenation

[0, 1, 2, 3, 4, 0, 1, 2, 3, 4]

In [13]:
n1 = np.arange(5)
n2 = np.arange(5)
n1, n2

(array([0, 1, 2, 3, 4]), array([0, 1, 2, 3, 4]))

In [14]:
n3 = n1 + n2 # Element wise operations
n3

array([0, 2, 4, 6, 8])

In [15]:
n3 = n1*n2
n3

array([ 0,  1,  4,  9, 16])

In [16]:
## Basic Operations on numpy arrays

In [17]:
# revenues of quarter 1
rev_q1 = np.array([10, 12, 9])
rev_q1.ndim

1

In [18]:
# revenues of quarter 1 and 2
rev = np.array([[10, 12, 9],[15, 11, 13]])
rev.ndim

2

In [19]:
# find revenues of first month of second quarter
rev[1,0]

15

In [20]:
# update revenue of first month of second quarter
rev[1,0] = 14
rev

array([[10, 12,  9],
       [14, 11, 13]])

In [21]:
rev.dtype , rev.itemsize

(dtype('int32'), 4)

In [22]:
rev = np.array([[10, 12, 9],[15, 11, 13]], dtype=float)
rev.dtype

dtype('float64')

In [23]:
rev.itemsize # size of an element

8

In [24]:
rev.size # Total elements in the array

6

In [25]:
rev.shape

(2, 3)

In [26]:
np.sort(rev, axis=None)

array([ 9., 10., 11., 12., 13., 15.])

In [27]:
np.sort(rev)

array([[ 9., 10., 12.],
       [11., 13., 15.]])

In [28]:
# this kind of array is useful to initialize neural network weights
np.zeros((3,4))

array([[0., 0., 0., 0.],
       [0., 0., 0., 0.],
       [0., 0., 0., 0.]])

In [29]:
np.ones((3,4))

array([[1., 1., 1., 1.],
       [1., 1., 1., 1.],
       [1., 1., 1., 1.]])

In [30]:
np.arange(3)

array([0, 1, 2])

In [31]:
np.arange(20,30)

array([20, 21, 22, 23, 24, 25, 26, 27, 28, 29])

In [32]:
np.arange(20,30,2)

array([20, 22, 24, 26, 28])

In [33]:
np.linspace(10,50,10)

array([10.        , 14.44444444, 18.88888889, 23.33333333, 27.77777778,
       32.22222222, 36.66666667, 41.11111111, 45.55555556, 50.        ])

In [34]:
rev

array([[10., 12.,  9.],
       [15., 11., 13.]])

In [37]:
import numpy as np

# ravel and flatten functions are used to convert multi dimensional arrays to single 
# dimensional arrays but both have key differences

arr = np.array([[1, 2], [3, 4]])

# Using flatten()
flattened_arr = arr.flatten()
flattened_arr[0] = 10
print("Flattened Array:", flattened_arr)  # Output: [10  2  3  4]
print("Original Array:", arr) # Output: [[1 2] [3 4]]

# Using ravel()
raveled_arr = np.ravel(arr)
raveled_arr[0] = 10
print("Raveled Array:", raveled_arr) # Output: [10  2  3  4]
print("Original Array:", arr) # Output: [[10  2] [ 3  4]]

Flattened Array: [10  2  3  4]
Original Array: [[1 2]
 [3 4]]
Raveled Array: [10  2  3  4]
Original Array: [[10  2]
 [ 3  4]]

In [38]:
rev.reshape(3,2)

array([[10., 12.],
       [ 9., 15.],
       [11., 13.]])

In [39]:
rev.min() # minimum revenue

9.0

In [40]:
rev.max() # maximum revenue

15.0

In [41]:
rev

array([[10., 12.,  9.],
       [15., 11., 13.]])

In [43]:
rev.sum(axis=0) # total revenue of first, second and third month of Q1 and Q2 # Column wise sum

array([25., 23., 22.])

In [45]:
rev.sum(axis=1) # total Q1 and Q2 revenue # Row wise sum

array([31., 39.])

In [46]:
for row in rev:
    print("row: ", row)

row:  [10. 12.  9.]
row:  [15. 11. 13.]

In [47]:
b = np.array([1,4,16])
np.sqrt(b)

array([1., 2., 4.])

In [48]:
np.square(b) , np.std(b)

(array([  1,  16, 256]), 6.48074069840786)